<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />

  <!-- Sidebar -->

  <script src="/com.vyom.vyomlib/resources/kanban1/sidebar/js/popper.js"></script>
  <script src="/com.vyom.vyomlib/resources/kanban1/dist/rxloader.js"></script>
  <!-- <script src="/com.vyom.vyomlib.new/resources/kanban1/sidebar/js/bootstrap.min.js"></script> -->
  <script src="/com.vyom.vyomlib/resources/kanban1/sidebar/js/main.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>Kanban</title>

  <!-- <link rel="stylesheet" href="/com.vyom.vyomlib/resources/kanban1/dist/criticalicon.css"> -->
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  
  <link rel="stylesheet" href="/com.vyom.vyomlib/resources/kanban1/dist/card_layout5.css">
  <link rel="stylesheet" href="/com.vyom.vyomlib/resources/kanban1/dist/jkanban.css">
  <link rel="stylesheet" href="/com.vyom.vyomlib/resources/kanban1/dist/jkanban_form.css">
  <link rel="stylesheet" href="/com.vyom.vyomlib/resources/kanban1/dist/jkanban_material_popup.css">
  <script src="/com.vyom.vyomlib/resources/kanban1/dist/jkanban1.js"></script>
</head>

<style>
  body {
    font-family: "Lato";
    margin: 0;
    padding: 0;
    overflow: overlay;
  }

  .modal-content {
  
    width: 100%;
}

  .header {
    font-size: 15px;
    font-weight: bold;
  }

  img {
    height: 45px;
    float: right;
    margin-top: -10px
  }

  .modal.fade .modal-dialog {
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
    -webkit-transform: translate(0, -50px);
    transform: translate(0, -50px);
  }

  .fade:not(.show) {
    opacity: 100%;
    background: #0c0c0c26;
  }

  #myKanban {
    overflow-x: auto;
    position: relative;
    top: -12px;
    left: -5px;
    padding: 7px 0;
  }

  .critical {
    color: red;
    font-weight: bolder;
    margin-top: 5px;
    font-family: Arial;
  }

  .bkgclr {
    background-color: #6d6d6d;
    height: 1000px;
  }

  .success {
    background: #00b961;
  }

  .info {
    background: #2a265f;
  }

  .warning {
    background: #f4ce46;
  }

  .progress1 {
    background: #039ee8;
  }

  .error {
    background: #fb7d44;
  }
</style>

<body>

  <div class="wrapper d-flex align-items-stretch">

    <nav id="sidebar" class="">
      <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
          <i class="fa fa-bars"></i>
          <span class="sr-only">Toggle Menu</span>
        </button>
      </div>
      <div class="p-4">
        <h1><a href="index.html" class="logo">Business Workflows</a></h1>
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="#"><span class="fa fa-home mr-3"></span> Cases</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-user mr-3"></span> About</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-briefcase mr-3"></span> Portfolio</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-paper-plane mr-3"></span> Contact</a>
          </li>
        </ul>

        <div class="mb-5">
          <h3 class="h6 mb-3">Subscribe for newsletter</h3>
          <form action="#" class="subscribe-form">
            <div class="form-group d-flex">
              <div class="icon"><span class="icon-paper-plane"></span></div>
              <input type="text" class="form-control" placeholder="Enter Email Address">
            </div>
          </form>
        </div>
      </div>
    </nav>


    <div>
      <div id="myKanban"> </div>


      <script>

        var KanbanTest = new jKanban({
          element: "#myKanban",
          // gutter: "10px",
          widthBoard: "490px",
          itemHandleOptions: {
            enabled: true,
          },
          click: function (el) {
            // console.log("Trigger on all items click!");
          },
          // dropEl: function (el, target, source, sibling) {
          //   // console.log(target.parentElement.getAttribute('data-id'));
          //   // console.log(el, target, source, sibling)
          //   // alert(target.parentElement.getAttribute('data-id'));
          //   var parentcardid = target.parentElement.getAttribute('data-id');
          //   if (parentcardid == "_working") {
          //     window.dropcardworking();
          //   }

            
          // },



          dropEl: function (el, target, source, sibling) {
            console.log(target.parentElement.getAttribute('data-id'));
            var parentcardid = target.parentElement.getAttribute('data-id');
            if (parentcardid == "_working") {

             window.dropcardworking();
               }

            if (parentcardid == "_todo") {
              $(el).find('.progress1').addClass('info').removeClass("progress1");
              $(el).find('.progress-barprogress').addClass('progress-barnew').removeClass('progress-barprogress')
              $(el).find('span').empty().text("New");
            }

            else if (parentcardid == "_working") {
              $(el).find('.info').addClass('progress1').removeClass("info");
              $(el).find('.success').addClass('progress1').removeClass("success");
              $(el).find('span').empty().text("In Progress");

              
                         
              

              $(el).find('.progress-barnew').addClass('progress-barprogress').removeClass('progress-barnew');
              $(el).find('.progress-barsuccess').addClass('progress-barprogress').removeClass('progress-barsuccess');

             
              
            }
            else if (parentcardid == "_done") {
              $(el).find('.progress1').addClass('success').removeClass("progress1");
              $(el).find('.progress-barprogress').addClass('progress-barsuccess').removeClass('progress-barprogress');
              $(el).find('span').empty().text("Completed");
              
            }
          },




          addItemButton: true,
          boards: [
            {
              id: "_todo",
              title: "New Tickets",
              class: "info,good",
              dragTo: ["_working"],
              item: [
                // {
                //   title: '<div class="body1"><div class="courses-container"><div class="course"><div class="course-preview item_handle drag_handler"><div class="fontsize">Ticket</div><div class="fontsize">INC2321</div></div><div class="course-info"><div class="progress-container"><div class="new"></div><span class="progress-text">New</span></div><h6>Summary</h6><div id="demo1" class="sumcontent">Database Issue</h6><button class="btn1" ng-click="ViewButton()">View</button></div></div></div></div>'
                // },
              ]
            },
            {

              id: "_working",
              title: "In Progress",
              class: "progress1",
              item: [
            //     {
            //       title: `<div class="course">
            //                 <div class="course-preview item_handle drag_handler progress1"></div>
            //                 <div class="course-info">
            //                   <div class="fontsize">Case ID: INC2332
            //                   <div>
            //                         <img src="https://vyom-platform.trybmc.com/api/rx/application/record/attachment/com.bmc.arsys.rx.foundation:Person/AGGCEME2HPULZAOQMFDZOPQCW7RGOW/304411861" class="main-profile-img" />
            //                   </div>
            //                   </div>
            //                   <div class="header">Summary</div>
            //                   <div class="col-10 sumcontent">AD locked Lorem ipsumLorem Ipsum is simply dummy. Lorem Ipsum has been the i</div>
                              
            //                     <div class="progress">
            //                       <div class="progress-bar" style="width:70%"></div>
            //                     </div>
            //                     <span style="font-size: 11px;font-style: italic;">In Progress</span>
            //                   <div> 
            //                     <div class="critical">
            //                       <i class="fab fa-gripfire"></i>
            //                        Critical
            //                     </div>
            //                     <div>
            //                        <button class="btn1" id="1" onClick="fun(this)">View</button>
            //                     </div>
            //                   </div>
            //                   </div>
            //               </div>`
            //     },

            //     {
            //       title: `<div class="course">
            //                 <div class="course-preview item_handle drag_handler progress1"></div>
            //                 <div class="course-info">
            //                   <div class="fontsize">Case ID: INC2332
            //                     <div>
            //                         <img src="https://vyom-platform.trybmc.com/api/rx/application/record/attachment/com.bmc.arsys.rx.foundation:Person/AGGCEME2HPULZAOQMFDZOPQCW7RGOW/304411861" class="main-profile-img" />
            //                   </div>  
            //                   </div>
            //                   <div class="header">Summary</div>
            //                   <div class="col-10 sumcontent">AD locked Lorem ipsumLorem Ipsum is simply dummy. Lorem Ipsum has been the i</div>
                             
            //                     <div class="progress">
            //                       <div class="progress-bar" style="width:70%; "></div>
            //                     </div>
            //                     <span style="font-size: 11px;font-style: italic;">In Progress</span>
            //                   <div> 
            //                     <div class="critical">
            //                       <i class="fab fa-gripfire"></i>
            //                       Critical
            //                     </div>
            //                     <div>
            //                       <button class="btn1" id="1" onClick="fun(this)">View</button>
            //                     </div>
            //                   </div>
            //                   </div>
            //               </div>`
            //     }
              ]
            },
            {
              id: "_done",
              title: "Completed/Closed",
              class: "success",
              dragTo: ["_working"],
              item: [
                {
                  title: `<div class="course">
                            <div class="course-preview item_handle drag_handler success"></div>
                            <div class="course-info">
                              <div class="fontsize">Case ID: INC2332
                                <div>
                                  <img src="https://vyom-dsom-platform.trybmc.com/api/rx/application/record/attachment/com.bmc.arsys.rx.foundation:Person/d3ac4a3fdf17045a2d3eef467b44c72de7ab30f4da236942051b7f9876ac4b353987c8539236a6ac26fadd9eb2acc8b25e547635bbe7ba8f41cb5de79b1397e5/304411861" class="main-profile-img">
                              </div>  
                              </div>
                              <div class="header">Summary</div>
                              <div class="col-10 sumcontent">AD locked Lorem ipsumLorem Ipsum is simply dummy. Lorem Ipsum has been the i</div>
                              
                                <div class="progress">
                                  <div class="progress-barsuccess"></div>
                                </div>
                                <span style="font-size: 11px;font-style: italic;">Completed</span>
                              <div> 
                                <button class="btn1" onClick="fun(this)">View</button>
                              </div>
                              </div>
                          </div>`
                },

              ]
            }
          ]
        });


function defprogress() {

for (let index = 0; index < data.length; index++) {
  const element = data;

  const value = element[index][priority];
  const statusvalue = element[index][Status];
  console.log("The status value is " + statusvalue);

if(statusvalue == "14")
{
  KanbanTest.addElement("_working", {
    title: `<div class="course">
              <div class="course-preview item_handle drag_handler progress1"></div>
                  <div class="course-info">
                    <div class="fontsize">Case ID : `+ element[index][ID] + `
                      <div>
                        <img src="https://vyom-dsom-platform.trybmc.com/api/rx/application/record/attachment/com.bmc.arsys.rx.foundation:Person/d3ac4a3fdf17045a2d3eef467b44c72de7ab30f4da236942051b7f9876ac4b353987c8539236a6ac26fadd9eb2acc8b25e547635bbe7ba8f41cb5de79b1397e5/304411861" class="main-profile-img">
                    </div>  
                    </div>
                    <div class="header">Summary</div>
                    <div class="col-10 sumcontent"> ` + element[index][summary] + `   </div>
                    
                      <div class="progress">
                        <div class="progress-barprogress"></div>
                      </div>
                      <span class="statusstyleprogress">In Progress</span>
                    <div> 
                      <div class="critical priority">
                        <i class="fab fa-gripfire"></i>
                          Critical
                      </div>
                      <div>
                        <button class="btn1" id=ViewButton ng-click="viewbuttonscope()">View</button>
                        
                      </div>

                    </div>
                  </div>
            </div>`
  });

  
    
    

   if (value != "Critical") {
    const elementArray = document.getElementsByClassName('priority');
    var p = elementArray[elementArray.length - 1];
    p.classList.add("ng-hide");
  }
}

}
}

        function def() {

          for (let index = 0; index < data.length; index++) {
            const element = data;
            const value = element[index][priority];
            const statusvalue = element[index][Status];
            if(statusvalue == "0")
 {
          
            KanbanTest.addElement("_todo", {
              title: `<div class="course">
                        <div class="course-preview item_handle drag_handler info"></div>
                            <div class="course-info">
                              <div class="fontsize">Case ID : `+ element[index][ID] + `
                                <div>
                                  <img src="https://vyom-dsom-platform.trybmc.com/api/rx/application/record/attachment/com.bmc.arsys.rx.foundation:Person/d3ac4a3fdf17045a2d3eef467b44c72de7ab30f4da236942051b7f9876ac4b353987c8539236a6ac26fadd9eb2acc8b25e547635bbe7ba8f41cb5de79b1397e5/304411861" class="main-profile-img">
                              </div>  
                              </div>
                              <div class="header">Summary</div>
                              <div class="col-10 sumcontent"> ` + element[index][summary] + `   </div>
                              
                                <div class="progress">
                                  <div class="progress-barnew"></div>
                                </div>
                                <span style="font-size: 11px;font-style: italic;">New</span>
                              <div> 
                                <div class="critical priority">
                                  <i class="fab fa-gripfire"></i>
                                    Critical
                                </div>
                                <div>
                                  <button class="btn1" id=ViewButton ng-click="viewbuttonscope()">View</button>
                                  
                                </div>

                              </div>
                            </div>
                      </div>`
            });


             if (value != "Critical") {
              const elementArray = document.getElementsByClassName('priority');
              var p = elementArray[elementArray.length - 1];
              p.classList.add("ng-hide");
            }

          }          
            var ViewButtonclk = document.getElementById("ViewButton");
             ViewButtonclk.onclick = function() {ViewButton()};

             var CreateCase = document.getElementById("CreateCase");
             CreateCase.onclick = function() {CreateTicket()};


          }
        }


        var search = document.getElementById("searchCase");
        search.onclick = function()
        {
          console.log("innerfunction called");
          console.log(search);
        console.log("searchbuttoncalled");
        }
        
        search.addEventListener("click", function () {
          var input, filter, ul, li, a, i, txtValue;
          input = document.getElementById("number");
          filter = input.value.toUpperCase();
          ul = KanbanTest.getBoardElements("_todo");

          for (i = 0; i < ul.length; i++) {
            a = ul[i];
            console.log(a);

            txtValue = a.textContent || a.innerText;

            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              ul[i].style.display = "";
            } else {
              ul[i].style.display = "none";
            }
          }

        });

        var allEle = KanbanTest.getBoardElements("_todo");
        allEle.forEach(function (item, index) {
          console.log(item);
        });

        // var removeElement = document.getElementById("removeElement");
      // removeElement.addEventListener("click", function () {
      //   KanbanTest.removeElement("_test_delete");
      // });

      </script>
    </div>
  </div>


<!-- Chatbot Script -->

<script id="rx-view-loader-script" src="https://vyom-platform.trybmc.com/innovationsuite/view-loader.js"></script>

<button class="rx-view-loader-button" data-bot-id="IDGADG1AANVNNAQJ6AV1QI839NESAV"></button>

 <script type="text/javascript">
        rxViewLoader.onRequestJwt(function () {
             // return JWT token
			 
         });
  </script>

<!-- End of Chatbot Script -->


</body>

</html>