<script>
    $(document).ready(function() {

        $("#myCarousel").carousel();
    });
    $(function() {
        $('[data-toggle="tooltip"]').tooltip()
    })

</script>


<div class="wrapper {{cssClasses}}">
    <div class="row com-ericsson-hilda-medium">
        <div class="container" style="text-align: center">
            <h1 style="font-size: 30px;" class="w3-text-{{titleColor}} com-ericsson-hilda-medium">{{greetings}}</h1>

        </div>
    </div>
    <div class="content" ng-if="BannerRecordDefinition">
        <div class="container-fluid mt-3">

            <div id="myCarousel" class="carousel slide" data-ride="carousel">

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img ng-src="/api/rx/application/record/attachment/{{BannerRecordDefinition}}/{{BannerInstanceId}}/{{BannerImage}}" alt="" ng-click="redirecturl(BannerURL)" style="cursor: default;width:100%;height: {{BannerHeight}}px">

                    </div>

                </div>
                <!-- Left and right controls -->
            </div>

        </div>
    </div>

    <div class="wrapper com-ericsson-hilda-medium">

        <div class="content">
            <div class="container-fluid mt-3">
                <form class="">
                    <!--<i class="fas fa-search w3-xxlarge" aria-hidden="true"></i>-->
                    <input class="" type="text" ng-model="searchObject.searchQuery" ng-keydown="onKeyDown($event)" placeholder="{{searchPlaceholder}}" aria-label="Search" autocomplete="off">
                </form>


                <span style="display: block;margin: 0 auto;line-height: 1.2;overflow: hidden;text-overflow: ellipsis">
                    <h3>{{BannerCaption}}</h3>
                    <span><b>{{BannerSubCaption}}</b></span>
                    <hr>
                </span>
            </div>
        </div>

    </div>

    <div class="container-fluid " style="padding-bottom: 5px; padding-top: 10px">
         
        <div class="d-flex flex-row" style="justify-content: center;">

            <div class="p-2 bd-highlight dropdown">
                <span style="display: inline-block">
                    <label style="display: block" class="w3-text-black">Country:</label>
                    <input type="text" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" placeholder="Country" ng-model="dropdown.selectedDisplayValue2" ng-change="getRegionDropDownData(dropdown.selectedDisplayValue2)" ng-keyup="getRegionDropDownData(dropdown.selectedDisplayValue2)" ng-click="getRegionDropDownData('')" autocomplete="dropdownMenuButton2">
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2" style="margin-left: 10px;width:auto;margin-right: 10px;max-height: 150px;overflow: auto;">
                        <li class="">
                            <a href ng-click="dropdown.selectedValue2=d2[secondDropDownStoredField];dropdown.selectedDisplayValue2=d2[secondDropDownDisplayField];filterCurrentCategoryOrSearchText();" ng-repeat="d2 in dropDownDataSet.regionData " class="w3-small w3-hover-black" style="height: 3rem;">{{d2[secondDropDownDisplayField]}}
                            </a>
                        </li>

                    </ul>
                </span>

            </div>

            <div class="p-2 bd-highlight dropdown">
                <span style="display: inline-block">
                    <label style="display: block" class="w3-text-black">Delivery Method:
                        <!--                        <span class="d-icon-question_circle_o" tooltip-append-to-body="true" tooltip-placement="right" uib-tooltip-html="deliveryMethodInfo.text"></span>-->
                        <span class="d-icon-question_circle_o" ng-click="executeAction(deliveryMethodInfoGuid);"></span>
                    </label>
                    <input type="text" id="dropdownMenuButton3" ng-model="dropdown.selectedValue3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" placeholder="Delivery Method" autocomplete="dropdownMenuButton3">
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3" style="margin-left: 10px;width:auto;margin-right: 10px;max-height: 150px;overflow: auto;">
                        <li class="">
                            <a href ng-click="dropdown.selectedValue3=d3[thirdDropDownDisplayField];filterCurrentCategoryOrSearchText();" ng-repeat="d3 in dropDownDataSet.deliveryData " class="w3-small w3-hover-black" style="height: 3rem;">{{d3[thirdDropDownDisplayField]}}</a>
                        </li>

                    </ul>
                </span>

            </div>

            <div class="p-2 bd-highlight dropdown">
                <span style="display: inline-block">
                    <label style="display: block" class="w3-text-black">Course Rating: <span class="d-icon-question_circle_o" ng-click="executeAction(fifthDropDownInfoGuid);"></span></label>
                    <input type="text" id="dropdownMenuButton5" ng-model="dropdown.selectedDisplayValue5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" placeholder="Course Rating" autocomplete="off">
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton5" style="margin-left: 10px;width:auto;margin-right: 10px;max-height: 150px;overflow: auto;">
                        <li class="">
                            <a href ng-click="dropdown.selectedValue5=d5[fifthDropDownStoredField];dropdown.selectedDisplayValue5=d5[fifthDropDownDisplayField];filterCurrentCategoryOrSearchText();" ng-repeat="d5 in dropDownDataSet.courseRating " class="w3-small w3-hover-black" style="height: 3rem;">{{d5[fifthDropDownDisplayField]}}</a>
                        </li>

                    </ul>
                </span>

            </div>

            <div class="p-2 bd-highlight dropdown">
                <span style="display: inline-block">
                    <label style="display: block" class="w3-text-black">Supplier Rating: <span class="d-icon-question_circle_o" ng-click="executeAction(fourthDropDownInfoGuid);"></span></label>
                    <input type="text" ng-model="dropdown.selectedDisplayValue4" id="dropdownMenuButton4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" placeholder="Supplier Rating" ng-disabled="dropdown.selectedValue1" autocomplete="off">
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton4" style="margin-left: 10px;width:auto;margin-right: 10px;max-height: 150px;overflow: auto;">
                        <li class="">
                            <a href ng-click="dropdown.selectedValue4=d4[fourthDropDownStoredField];dropdown.selectedDisplayValue4=d4[fourthDropDownDisplayField];filterCurrentCategoryOrSearchText();" ng-repeat="d4 in dropDownDataSet.supplierRating " class="w3-small w3-hover-black" style="height: 3rem;">{{d4[fourthDropDownDisplayField]}}</a>
                        </li>

                    </ul>
                </span>

            </div>

            <div class="p-2 bd-highlight dropdown">
                <span style="display: inline-block">
                    <label style="display: block" class="w3-text-black">Supplier Name:</label>

                    <input type="text" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" placeholder="Supplier Name" ng-model="dropdown.selectedValue1" ng-change="getSupplierDropDownData(dropdown.selectedValue1);dropdown.selectedDisplayValue4='';" ng-keyup="getSupplierDropDownData(dropdown.selectedValue1);dropdown.selectedDisplayValue4='';" ng-disabled="dropdown.selectedDisplayValue4" ng-click="getSupplierDropDownData('')" autocomplete="off">
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="margin-left: 10px;width:auto;margin-right: 10px;max-height: 150px;overflow: auto;">

                        <li class="">

                            <a href ng-click="dropdown.selectedValue1 = d1[firstDropDownDisplayField];filterCurrentCategoryOrSearchText();" ng-repeat="d1 in dropDownDataSet.supplierData" class="w3-small w3-hover-black" style="height: 3rem;">{{d1[firstDropDownDisplayField]}}</a>
                        </li>


                    </ul>
                </span>

            </div>



            <div class="p-2 bd-highlight dropdown">
                <span style="display: inline-block">
                    <label style="display: block" class="w3-text-black">Sort By:</label>
                    <input type="text" ng-model="dropdown.selectedDisplayValue6" id="dropdownMenuButton6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" placeholder="Sort By" autocomplete="off">
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton6" style="margin-left: 10px;width:auto;margin-right: 10px;max-height: 150px;overflow: auto;">
                        <li class="">
                            <a href ng-click="dropdown.selectedValue6=d6[sixthDropDownStoredField];dropdown.selectedDisplayValue6=d6[sixthDropDownDisplayField];filterCurrentCategoryOrSearchText();" ng-repeat="d6 in dropDownDataSet.courseSorting " class="w3-small w3-hover-black" style="height: 3rem;">{{d6[sixthDropDownDisplayField]}}</a>
                            <a href ng-if="dropdown.selectedValue2 && dropdown.selectedValue3" ng-click="dropdown.selectedValue6=getFieldIdFromName(dropdown.selectedValue2+'-'+dropdown.selectedValue3+''+totalCostPerHoursSuffix);dropdown.selectedDisplayValue6='Cost Low To High';filterCurrentCategoryOrSearchText();" class="w3-small w3-hover-black">Cost Low To High</a>
                            <a href ng-if="dropdown.selectedValue2 && dropdown.selectedValue3" ng-click="dropdown.selectedValue6=-getFieldIdFromName(dropdown.selectedValue2+'-'+dropdown.selectedValue3+''+totalCostPerHoursSuffix);dropdown.selectedDisplayValue6='Cost High To Low';filterCurrentCategoryOrSearchText();" class="w3-small w3-hover-black">Cost High To Low</a>
                        </li>
                    </ul>
                </span>

            </div>



            <button type="button" class="btn btn-link d-icon-left-cross_circle w3-medium w3-text-black" style="margin-top: 25px" ng-click="clearDropDowns()"><span>Clear Filters</span></button>
        </div>

    </div>
    <div ng-if="cardList.length" class="container-fluid">
        <div class="w3-right">
            <span>showing 1 - {{getLimit()}} out of {{totalSize}} results</span>
        </div>
    </div>
    <div class="content hideme">
        <div class="container-fluid">
            <div class="row" id="reverse" cg-busy="{promise:cardListDataPromise, delay:200}" ng-init="limit">
                <div class="selector {{perRowCardLength}}" ng-repeat="x in cardList  | limitTo: limit as results ">

                    <div class="card card-stats w3-card-4 h-75 ">
                        <div class="card-header  card-header-icon h-75">
                            <div ng-click="setSelectedCardInstanceId(x[179]);setOutput(x);executeAction(cardActionGuid);">
                                <div class="">
                                    <div class="material-icons">

                                        <p class=""></p>

                                    </div>
                                </div>

                                <h5 class="card-title">{{x[courseName]}}</h5>


                                <p class="card-category">
                                    <span class="d-icon-users"></span>
                                    <span>{{x[supplierName]}}</span>
                                </p>
                                <!-- scopes-->
                                <p ng-if="x[country]" class="card-category">
                                    <span class="d-icon-mapmarker"></span>
                                    <span>{{x[country]}}</span>
                                </p>
                                <p ng-if="!x[country]" class="card-category">
                                    <span class="d-icon-internet"></span>
                                    <span>Global</span>
                                </p>
                                <!-- end scope-->
                            </div>

                            <p class="card-category" style="" ng-if="x[getFieldIdFromName(dropdown.selectedValue2+'-'+dropdown.selectedValue3+''+totalCostPerHoursSuffix)]">
                                <span ng-if="!x[costAvailableOnDemand]">
                                    {{x[getFieldIdFromName(dropdown.selectedValue2+'-'+dropdown.selectedValue3+''+totalCostPerHoursSuffix)] | currency}}
                                </span>
                                <span ng-if="x[costAvailableOnDemand]">
                                    <span class="d-icon-service_desk" style="margin-right: 5px"></span>
                                    <span>{{x[costAvailableOnDemand]}}</span>
                                </span>
                            </p>



                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <div class="card-category" ng-init="generateRating(x[supplierRating],x[179],'supplier')">
                                    <a class="d-button_link">Supplier Rating
                                        <!--<em ng-if="x[userCountRatedForSupplier]">({{numFormatter(x[userCountRatedForSupplier])}})</em>--></a>
                                    <span ng-if="x[supplierRating]" ng-repeat="star in supplierRatingObj[x[179]] track by $index" class="{{star.icon}}" style="{{star.style}}"></span>
                                    <span ng-if="!x[supplierRating]">(Not Yet Rated)</span>
                                </div>

                            </div>

                            <div class="stats">
                                <div class="card-category" ng-init="generateRating(x[courseRating],x[179],'course')">
                                    <a class="d-button_link">Course Rating
                                        <!--<em ng-if="x[userCountRatedForCourse]">({{numFormatter(x[userCountRatedForCourse])}})</em>--></a>
                                    <span ng-if="x[courseRating]" ng-repeat="star in courseRatingObj[x[179]] track by $index" class="{{star.icon}}" style="{{star.style}}"></span>
                                    <span ng-if="!x[courseRating]">(Not Yet Rated)</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div style="text-align: right">
                <span>
                    <button class="d-button d-icon-right-angle_up d-button_secondary" ng-hide="results.length <= cardlimit" ng-click="limit = limit - cardlimit">show less...</button>
                    <button class="d-button d-icon-right-angle_down d-button_secondary" ng-hide="results.length === (cardList | filter:userhaspermission).length" ng-click="limit = limit + cardlimit">show more...</button>
                </span>

            </div>

        </div>
    </div>

    <div ng-show="totalSize == '0'" id="no-search-result" style="display: flex;position: relative;width: 100%;height: 100%;justify-content: center;padding: 5em 4em;" class="no-search-result">

    </div>
</div>
