<html>

<head>




</head>

<body>


    <div class="card">
        <div class="card-header row" style="text-align: right; justify-content: flex-end;">
            <div class="col-10" id="note" style="text-align: left;margin-top: 8px;font-style: italic;color: black;">
                <p ng-if="enableEditButton == 'true'">{{headerNote}}</p>
            </div>
            <button type="button" id="refresh" class="d-button d-button_action d-icon-left-refresh" ng-click="onRefresh()"></button>
            <button type="button" id="edit" class="d-button d-button_action d-icon-left-pencil" ng-click="toggleReadOnly(false);">
            </button>
        </div>
        <div class="card-body" style="overflow: hidden">
            <div id="{{editorID}}">

            </div>
            <div id="CustomBlogEditor_{{editorID}}" ng-bind-html="staticHtml">

            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="d-button d-button_primary" ng-click="updateHTML();">Save
            </button>

            <button type="button" class="d-button d-button_primary" ng-click="toggleReadOnly(true)">Cancel
            </button>

        </div>
    </div>
</body>

</html>
